<div class="container-fluid" style="height:90px;" ng-controller="panelCtrl">
    <div class="navbar-header" style="margin-top:15px;">
        <button type="button" class="navbar-toggle" data-toggle="collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <p class="navbar-brand" ng-if="isLog()">{{kitaname}}</p>
    </div>
    <div class="collapse navbar-collapse" style="margin-top:10px;">

        <ul class="nav navbar-nav navbar-right">
            <li ng-if="isLogUser()">
                <a ui-sref="profil" ui-sref-active="active" data-toggle="tooltip" data-placement="bottom" title="Profil">
                    <p>
                        <i class="pe-7s-user" style="font-size: 30px;color: rgb(0, 162, 255)"></i>
                    </p>
                </a>
            </li>
            <li ng-if="isLogAdmin()">
                <a ui-sref="profilAdmin" ui-sref-active="active" data-toggle="tooltip" data-placement="bottom" title="Profil">
                    <p>
                        <i class="pe-7s-user" style="font-size: 30px;color: rgb(0, 162, 255)"></i>
                    </p>
                </a>
            </li>
            <li class="navbar-Link" ui-sref-active="active" ng-if="isLog()">
                <a ui-sref="hilfe" data-toggle="tooltip" data-placement="bottom" title="Hilfe">
                    <p>
                        <i class="pe-7s-help1" style="font-size: 30px;color: rgb(99, 99, 99)"></i>
                    </p>
                </a>
            </li>
            <li ng-if="!isLog()">
                <a ui-sref="login" ui-sref-active="active" data-toggle="tooltip" data-placement="bottom" title="Login">
                    <p>
                        <i class="pe-7s-upload" style="font-size: 30px;color: rgb(0, 162, 255)"></i>
                    </p>

                </a>
            </li>
            <li ng-if="isLog()">
                <a ui-sref="login" ng-click="logout()" ui-sref-active="active" data-toggle="tooltip" data-placement="bottom" title="Logout">
                    <p>
                        <i class="pe-7s-right-arrow" style="font-size: 30px;color: rgb(243, 8, 8)"></i>
                    </p>

                </a>
            </li>
            <li class="separator hidden-lg hidden-md"></li>
        </ul>
    </div>
</div>