<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h3 class="title">Kinder</h3>
                <p class="category">Bitte wählen Sie das Kind aus, welches bearbeitet werden soll.</p>
            </div>
            <div class="content" ng-controller="kitaCtrl">
                <div ng-controller="loadKitaDataCtrl">

                    <div class="row">
                        <div class="col-sm-6 col-md-6">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="sel1">Gruppe auswählen:</label>
                                        <div class="selectDiv">
                                            <select class="select" ng-model="groupSelected" ng-options="group.groupname for group in Groups track by group._id" ng-change="loadUsers(groupSelected._id)"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Benutzer auswählen</label>
                                        <div class="selectDiv">
                                            <select class="select" ng-model="userSelected" ng-options="user.name for user in Users track by user._id" ng-change="loadUserData(userSelected._id)"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6 text-right" ng-show="kidSelectedADM">
                            <a ui-sref="" ng-click="createUserPDF(password, username, kitaname)" class="btn btn-primary2  btn-fill" style="height:80px;">
                                <h6>PDF-Druck</h6>
                                <i class="pe-7s-news-paper" style="font-size: 3em; color:#ffffff;"></i>
                            </a>
                        </div>
                    </div>

                    <form name="RegisterForm" ng-show="kidSelectedADM">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Kita ID</label>
                                    <input type="text" class="form-control" disabled placeholder="Kita ID" ng-model="kitaid">
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label>Kita-Name</label>
                                    <input type="text" class="form-control" disabled placeholder="Kita-Name" ng-model="kitaname">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>User ID</label>
                                    <input type="text" class="form-control" disabled placeholder="Kita ID" ng-model="userid">
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label>Benutzername</label>
                                    <input type="text" class="form-control" disabled placeholder="Benutzername" name="username" id="username" ng-model="username" required
                                        ng-blur="usernameChecker()">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-7 col-md-3 col-lg-4" ng-if="pwChange == 'false'">
                                <div class="form-group">
                                    <label>Passwort</label>
                                    <input type="password" class="form-control" disabled placeholder="Passwort" name="password" id="password" ng-model="password">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-7 col-md-3 col-lg-4" ng-if="pwChange == 'true'">
                                <div class="form-group">
                                    <label>Passwort</label>
                                    <input type="text" class="form-control" disabled placeholder="Passwort" name="password" id="password" ng-model="password">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-5 col-md-3 col-lg-2">
                                <div class="form-group">
                                    <button class="btn btn-primary btn-fill btn-margin" style="margin-top:24px;width:100%;" ng-click="resetPW()">Zurücksetzen</button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Vorname</label>
                                    <input type="text" class="form-control" placeholder="Vorname" name="first_name" id="first_name"
                                        ng-minlength="1" ng-model="first_name" required>
                                </div>
                                <p class="text-danger" ng-show="RegisterForm.first_name.$error.required && RegisterForm.first_name.$touched">Der Vorname darf nicht leer sein.</p>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nachname</label>
                                    <input type="text" class="form-control" placeholder="Nachname" name="last_name" id="last_name"
                                        ng-minlength="1" ng-model="last_name" required>
                                </div>
                                <p class="text-danger" ng-show="RegisterForm.last_name.$error.required && RegisterForm.last_name.$touched">Der Nachname darf nicht leer sein.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Geburtsdatum</label>
                                    <input type="date" class="form-control" placeholder="Geburtsdatum" name="birth_date" id="birth_date" ng-model="birth_date"
                                        required>
                                </div>
                                <p class="text-danger" ng-show="RegisterForm.birth_date.$error.required && RegisterForm.birth_date.$touched">Das Geburtsdatum darf nicht leer sein.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>PLZ</label>
                                    <input type="number" class="form-control" placeholder="PLZ" name="plz" id="plz" ng-model="plz" required>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label>Ort</label>
                                    <input type="text" class="form-control" placeholder="Ort" name="ort" id="ort" ng-model="ort" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label>Strasse</label>
                                    <input type="text" class="form-control" placeholder="Strasse" name="street" id="street" ng-pattern="/^[a-zA-Z\s]*$/" ng-minlength="1"
                                        ng-model="street" required>
                                </div>
                                <p class="text-danger" ng-show="RegisterForm.street.$touched && !RegisterForm.street.$error.minlength && !RegisterForm.street.$valid">Die Strasse darf keine Zahlenwerte enthalten.</p>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Haus-Nr</label>
                                    <input type="text" class="form-control" placeholder="Haus-Nr" name="house_nr" id="house_nr" ng-model="house_nr" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" placeholder="Email" ng-model="email">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Telefon-Nr</label>
                                    <input type="text" class="form-control" placeholder="Telefon-Nr" ng-model="telefon">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Über mich</label>
                                    <textarea rows="5" class="form-control" placeholder="Muttersprache, Geschwister etc." ng-model="description"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Das mache ich am liebsten</label>
                                    <textarea rows="5" class="form-control" placeholder="Mit Lego spielen etc." ng-model="vorlieben"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Essensvorlieben / Allergien</label>
                                    <textarea rows="5" class="form-control" placeholder="Essensvorlieben / Allergien" ng-model="essenAllerg"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group css-checkbox-div">
                                    <input type="checkbox" id="montag" class="css-checkbox" ng-model="checkBox.montag" ng-true-value="'true'" ng-false-value="'false'"
                                        ng-checked="checked.montag == 'true'">
                                    <label class="css-label">Montag</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group css-checkbox-div">
                                    <input type="checkbox" id="dienstag" class="css-checkbox" ng-model="checkBox.dienstag" ng-true-value="'true'" ng-false-value="'false'"
                                        ng-checked="checked.dienstag == 'true'">
                                    <label class="css-label">Dienstag</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group css-checkbox-div">
                                    <input type="checkbox" id="mittwoch" class="css-checkbox" ng-model="checkBox.mittwoch" ng-true-value="'true'" ng-false-value="'false'"
                                        ng-checked="checked.mittwoch == 'true'">
                                    <label class="css-label">Mittwoch</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group css-checkbox-div">
                                    <input type="checkbox" id="donnerstag" class="css-checkbox" ng-model="checkBox.donnerstag" ng-true-value="'true'" ng-false-value="'false'"
                                        ng-checked="checked.donnerstag == 'true'" />
                                    <label class="css-label">Donnerstag</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group css-checkbox-div">
                                    <input type="checkbox" id="freitag" class="css-checkbox" ng-model="checkBox.freitag" ng-true-value="'true'" ng-false-value="'false'"
                                        ng-checked="checked.freitag == 'true'" />
                                    <label class="css-label">Freitag</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="sel1">Gruppe auswählen:</label>
                                    <div class="selectDiv">
                                        <select class="select" ng-model="groupSelected" ng-options="group.groupname for group in Groups track by group._id">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a ui-sref="kita" class="btn btn-secondary btn-fill pull-right">Abbrechen</a>
                        <a class="btn btn-danger btn-fill pull-right btn-margin" ng-click="deleteUser()">Benutzer Löschen</a>
                        <a class="btn btn-primary btn-fill pull-right btn-margin" ng-click="editUser()">Änderungen Speichern</a>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>